<ion-header>
  <ion-toolbar>
    <ion-title>Faites vos jeux !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-chip class="ion-margin-start ion-margin-top">
      <ion-avatar>
        <img [src]="GameDataService.random_avatar">
      </ion-avatar>
      <ion-label>{{ GameDataService.username }}</ion-label>
    </ion-chip>

    <ion-title>Question n°{{ QuestionService.current_index + 1 }}</ion-title>
    
    <ion-item>
      <ion-text color="primary" class="ion-text-center ion-padding" [innerHTML]="QuestionService.current_question?.question">Awesome Label</ion-text>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let answer of QuestionService.responses">
          <ion-button (click)="QuestionService.response(answer)" [color]="checkColor(answer)" [innerHTML]="answer" expand="full"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Score</ion-card-title>
      </ion-card-header>
      <ion-card-content  class="ion-text-center">
        {{ QuestionService.score }} / {{ QuestionService.current_index + 1 }}
      </ion-card-content>
      <ion-progress-bar [value]="(QuestionService.current_index + 1) / QuestionService.questions.length"></ion-progress-bar>
    </ion-card>
    
    <ion-button
    *ngIf="!QuestionService.last_question" 
    expand="block" 
    fill="clear" 
    shape="round"
    (click)="questionSuivante()"
    >
      Question suivante
    </ion-button>
    <ion-button
    *ngIf="QuestionService.last_question" 
    expand="block" 
    fill="clear" 
    shape="round"
    [routerLink]="['/score']"
    >
      Terminer
    </ion-button>
  </div>

</ion-content>
